@media (max-width: 768px) {
  .delete-todo {
    cursor: pointer;
    display: flex;
  }

  .pencil-img {
    display: block;
    margin-right: 8px;
  }

  .input-add-img {
    display: block;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    
    margin: auto;
    margin-right: 19px;

    width: 35px;
    height: 35px;

    cursor: pointer;
  }

  .edit-img, .pencil-img {
    width: 20px;
    height: 20px;
  }

  .delete-img {
    width: 21px;
    height: 21px;
  }

  body {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  .container {
    margin: 0;
    align-items: stretch;
  }

  .todo-list--ul {
    width: 100vw;
  }

  .todo-list--ul {
    min-width: inherit;
    width: 100%;
    flex: 1 1 auto;
  }

  /* .todo-list--ul .todo-item {
    min-height: 115px;
    min-width: inherit;   
  } */

  .todo-item.show {
    height: 100px;
    min-width: inherit;  
  }

  .last-todo-item {
    min-width: inherit; 
  }

  .last-todo-item--container {
    background: none;
  }

  .todo-input input {
    padding-right: 75px;
    min-width: inherit;
    width: 100%;

    font-size: 20px;
  }

  .todo-text-input {
    min-width: inherit;
  }

  .ltd-button {
    font-size: 14px;
  }

  .button {
    padding: 10px 15px;
  }

  /* .checked {
    opacity: 0.6;
  } */
}

@media (min-width: 411px) {
  .button:hover {
    border-color: #6f38ad8c;
  }

  .button:focus {
    outline: none !important;
  }

  .button-active {
    border: 2px solid #6f38ad;
  }

  .button-active:hover {
    border: 2px solid #6f38ad;
  }
}

@media (max-width: 425px) {
  body {
    background-color: rgba(111, 56, 173, 1) ;
  }

  .container {
    min-height: calc(100vh - 65px);
    position: relative;
  }
  
  .todo-list--ul {
    margin-bottom: 65px;
    border: none;
  }

  .last-todo-item { 
    border-radius: 0;
    border: none;
    border-top: 1px solid lightgray;
    
    width: 100%; 

    position: fixed;
    bottom: 0;
    margin: 0; 
  }

  .todo-input {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .todo-input input {
    font-size: 18px;
    border: none !important;

    border-radius: 9px;
    border-bottom: 2px solid rgba(111, 56, 173, 1) !important;
    min-height: 70px;
    margin-bottom: 4px;
  }

  .todo-list {
    border-radius: 9px 9px 0 0;
    overflow: hidden;
  }


  
}


@media (max-width: 410px) {
  h1 {
    margin: 50px auto;
  }

  .ltd-button-tabs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .ltd-button--display {
    display: none;
  }

  .todo-list--ul {
    border: none;
  }

  .button {
    font-size: 12px;
    color: grey;

    transition: .2s linear;
  }

  .button:first-child {
    margin-left: 10px;
  }

  .button:last-child {
    margin-right: -10px;
  }

  .button:focus {
    outline: none !important;
  }

  .button-active {
    transform: scale(1.4);
    color: #6f38ad;
  }

}