* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/* html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;

  background: rgb(116, 46, 143);
  background: linear-gradient(
    0deg,
    rgba(116, 46, 143, 1) 15%,
    rgba(111, 56, 173, 1) 55%,
    rgba(143, 89, 190, 1) 100%
  );
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;

  width: 500px;
}

h1 {
  color: #f2f3f4;
  margin: 40px auto;
}

/* TODO LIST */

.todo-list {
  position: relative;
}

.todo-list--ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  border: 1px solid #7d5b8a;
  border-top: none;
  border-bottom: none;
  /* background-color: rgba(253, 250, 253, 0.6); */
}

.last-todo-item {
  min-height: 75px;
  /* height: 75px; */
}

.todo-list--ul .todo-item,
.last-todo-item {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 0;

  background-color: #f2f3f4; /* */
  border-top: 1px solid lightgray;
}

.todo-list--ul .todo-item {
  overflow: hidden;
}

.todo-item.show {
  height: 75px;
  min-width: 495px;

  height: 75px;
}

.todo-list .todo-item {
  transition: all 0.3s ease-out;
  opacity: 0;
}

.todo-list .todo-item.show {
  opacity: 1;
}

.todo-list--ul .todo-item:first-child {
  border: none;
}

.last-todo-item {
  border: 1px solid #7d5b8a;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
  min-width: 500px;
}

.last-todo-item--container {
  position: sticky;
  bottom: 0;
  z-index: 999;
  background-color: rgba(111, 56, 173, 1);
}

.flex-grow {
  flex-grow: 1;
}

.todo-item--inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-text {
  display: block;
  margin: 20px;

  word-break: break-word;
}

.delete-todo {
  cursor: pointer;
}

/* LAST TODO */
.last-todo-item--inner {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.ltd-button {
  min-width: 70px;
  min-height: 10px;
}

.edit-img {
  display: block;

  width: 15px;
  height: 15px;
}

.delete-img {
  display: block;

  width: 20px;
  height: 20px;
}

.checked-img {
  display: block;

  width: 25px;
  height: 25px;
  cursor: pointer;
}

.input-add-img,
.pencil-img {
  display: none;
}

.pencil-img {
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

/* BUTTON */

.button {
  cursor: pointer;
  background-color: inherit;
  border: 2px solid inherit;
  border-radius: 8px;
  padding: 8px;
}


/*  INPUT */
.input {
  position: relative;
}

.todo-input input {
  min-width: 500px;
  border: 1px solid #7d5b8a;
  /* border-bottom: 2px solid #7d5b8a; */
  background-color: #f2f3f4;

  padding: 20px 25px;
  font-size: 20px;
  font-style: italic;

  border-radius: 5px 5px 0 0;
}

.todo-input input:focus {
  outline: none !important;
}

.checked {
  background-color:  rgba(253, 250, 253, 0.6)
!important;
  /* opacity: 0.6; */
}

.todo-text-input {
  display: block;

  min-width: 370px;
  min-height: 35px;
  height: 100%;
  border-radius: 5px;

  padding: 10px;
  font-style: italic;
  background-color: #7d5b8a11;
}

.todo-text-input:focus {
  outline: none !important;
}
