* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  background: rgb(116, 46, 143);
  background: linear-gradient(
    0deg,
    rgba(116, 46, 143, 1) 15%,
    rgba(111, 56, 173, 1) 55%,
    rgba(143, 89, 190, 1) 100%
  );
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  min-height: 100vh;
  width: 500px;
}

h1 {
  color: #fdfafd;
  margin: 40px auto;
}

/* TODO LIST */

.todo-list {
  position: relative;
  /* transition: .2s linear; */
}

.todo-list--ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  border: 1px solid #7d5b8a;
  border-top: none;
  border-bottom: none;
}

.todo-list--ul .todo-item,
.last-todo-item {
  display: flex;
  align-items: center;
  padding: 0 25px;
  min-height: 75px;

  min-width: 495px;

  background-color: #fdfafd;
  border-top: 1px solid #7d5b8a;
}

.last-todo-item {
  border: 1px solid #7d5b8a;
  border-top: 2px solid #7d5b8a;
  margin-bottom: 20vh;
  border-radius: 0 0 5px 5px;
  z-index: 1000;

  min-height: 65px;
  min-width: 500px;

}

.last-todo-item--container {
  position: sticky;
  bottom: 0;
  z-index: 999;
  background-color: rgba(111, 56, 173, 1);
}

.flex-grow {
  flex-grow: 1;
}

.todo-item--inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-text {
  display: block;
  margin: 20px;

  word-break: break-word;
}

.delete-todo {
  cursor: pointer;
}

/* LAST TODO */
.last-todo-item--inner {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.ltd-button {
  min-width: 70px;
  min-height: 10px;
}

.edit-img {
  display: block;

  width: 15px;
  height: 15px;
  /* opacity: 0.7; */
}

.delete-img {
  display: block;

  width: 20px;
  height: 20px;
}

.input-add-img, .pencil-img {
  display: none;
}

.pencil-img {
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

/* BUTTON */

.button {
  cursor: pointer;
  background-color: rgb(253, 250, 253);
  border: 2px solid rgb(253, 250, 253);
  border-radius: 8px;
  padding: 8px;
}

.button:hover {
  border-color: #6f38ad8c;
}

.button:focus {
  outline: none !important;
}

.button-active {
  border: 2px solid #6f38ad;
}

.button-active:hover {
  border: 2px solid #6f38ad;
}

/*  INPUT */
.input {
  position: relative;
}

.todo-input input {
  min-width: 500px;
  border: 1px solid #7d5b8a;
  background-color: rgb(253, 250, 253);

  padding: 20px 25px;
  font-size: 22px;
  font-style: italic;

  border-radius: 5px 5px 0 0;
}

.todo-input input:focus {
  outline: none !important;
}

.checked {
  background-color: rgb(140, 56, 173);
  opacity: 0.3;
  text-decoration: line-through;
}

.todo-text-input {
  display: block;

  min-width: 370px;
  min-height: 35px;
  height: 100%;

  border: 1px solid #7d5b8a;
  border-radius: 5px;

  padding: 10px;
  font-style: italic;
  background-color:  rgba(140, 56, 173, 0.034);

}

.todo-text-input:focus {
  outline: none !important;
}
